@page
@model Talamus_V2.Net6.Pages._ModalPartialModel
@{
}

<div class="modal-content">
    <div class="modal-header" style="text-align:center; background-color:darkviolet; color:white">
        
        <h4>Ты прочёл ветку истории!</h4>
    </div>
    <div class="modal-body" style="text-align:center; background-color:darkslateblue; color:white">
        <p>
            Для того, чтобы всегда быть в курсе новостей,
        </p>
        <p>И не пропустить выход новых книг</p>
        <p>
            Подпишись на наш телеграм канал 
        </p>
            <a href="https://t.me/readnchoose"><h2>Издательство "Таламус"</h2></a>
        
    </div>
</div>